{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "semistandard",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["jest"],
  "rules": {
    "no-console": "error"
  },
  "settings": {
  }
}
